body{
    margin: 0;
    background-color: #333;
}

.container { /*acomodamos los elementos que ocupen toda la pantalla y que queden centrados*/
    height: 100vh; /*que ocupen toda la pantalla*/
    width: 100vw;
    display: flex;
    flex-direction: column; /*los organizamos uno arriba del otro*/
    align-items: center; /*los centramos*/
    justify-content: center;
}

.container .tools {
    background-color: #999;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center; 
    padding: 5px;
    border-radius: 10px;
}

.container .tools * {
    background-color: #999;
    margin-right: 5px;
    border-radius: 5px;
}

#canvas{
    background-color: white;
    border-radius: 10px;
}